body {
  padding-left: 11em;
  font-family: Georgia, "Times New Roman",
        Times, serif;
  color: black;
  background-color: #ADD8E6 }
 ul.centre {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 43em }
  
  ul.text {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 4em;
  right: 1em;
  width: 30em }
 ul.par {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 20em;
  left: 1em; }
 
  ul.jou {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 6em;
  left: 28em; }
ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 2em;
  left: 1em;
  width: 9em }
 ul.nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 18em;
  right: 12em;
  width: 9em }
  
h1 {
  font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif }
ul.navbar li {
  background: white;
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 1em solid black }
ul.navbar a {
  text-decoration: none }
a:link {
  color: blue }
a:visited {
  color: purple }
address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted }
  ul.des {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 4em;
  right: 2em;
 }