#mainLogo
{
	height:80px;
	width:100%
}

#underLogo
{
	height:100px;
	width:100%;
	margin-bottom : 10px;
}

#buttonList
{
	height:80px;
	border:1px solid black;
}

.button1
{
	height:80px;
	width: 25%;
	border:1px solid black;
	float:left;
}

.button2
{
	height:80px;
	width: 33%;
	border:1px solid black;
	float:left;
}

.buttonlong
{
	height:40px;
	width: 80%;
	margin-bottom: 10px;
	border:1px solid black;
	text-align:center;
}

.underLogoTitle
{
	height:100px;
	float: left;
	width:70%;
	border:1px solid black;
}
.underLogoText
{
	height:100px;
	float: left;
	text-align :center;
	width:28%;
	border:1px solid black;
	margin-left:1px
}

.listItem
{
	height:50px;
	border:"1px solid black";
	margin-bottom: 5px;
}

.listItemText
{
	height:50px;
	text-align:center;
	float: left;
	width : 60%;
}

.listIcon
{
	height:50px;
	width:50px;
	float: left;
}

.listContainer
{
	height:300px;
	border:"1px solid black";
	text-align:center;
}
.listItem2
{
	height:30px;
	border:"1px solid black";
	margin-bottom: 1px;
	text-align:center;
	width:90%;
}

h1 { text-align: center; }
h2 { text-align: center; }